<h1 class="text-center text-2xl">Achat de billet</h1>
<h2 class="text-center text-lg">
  Vous pouvez maintenant acheter des billets de transport à Paris lors des JO
  avec vos Dogecoins
</h2>
<form
  class="example-form w-full flex flex-col items-center"
  [formGroup]="ticketForm">
  <div class="mb-3 mt-3">
    <span class="font-bold">Prix:</span> Un ticket est à
    <span class="underline">4 euros</span>
  </div>
  <div class="mb-3 text-cyan-500">5% de remise dès 2 tickets achetés !</div>
  <app-input-number [InputformControl]="ticketForm.controls['ticketsNumber']" />
  <div *ngIf="currentTicketsNumber > 0" class="mb-3">
    {{ currentTicketsNumber }} ticket(s) coûte
    {{ ticketsPriceInDogeCoin | number : '1.2-2' }} Dogecoins
  </div>
  <button
    type="submit"
    (click)="onSubmitForm()"
    class="bg-gray-800 text-white p-2 rounded-sm">
    Acheter
  </button>
</form>

<div *ngIf="showInvoice" class="w-full !max-w-2xl flex flex-col items-center">
  <div
    class="block mt-3 max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5
      class="mb-2 text-2xl font-bold tracking-tight text-gray-700 dark:text-green-500">
      Achat effectué
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">
      Vous avez acheté {{ ticketsNumber }} tickets à
      {{ dogeCoinsToPay | number : '1.2-2' }} dogecoins
    </p>
  </div>
</div>
