<div class="fixed bottom-0 left-0 right-0 bg-gray-800 bg-deep-purple-accent-400">
  <div class="px-4 pt-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8">
    <div class="grid justify-items-center gap-16 row-gap-10 mb-8 lg:grid-cols-6">
      <div class="md:max-w-md lg:col-span-3">
        <a href="/" aria-label="Go home" title="Company" class="inline-flex items-center text-gray-200">
          <span class="text-xl font-bold tracking-wide uppercase">Dogecoin</span>
        </a>
        <div class="mt-4 lg:max-w-sm text-gray-300">
          <p class="text-sm text-deep-purple-50">
            Au fond, Dogecoin est le mouvement crypto accidentel qui fait sourire les gens !
          </p>
        </div>
      </div>
      <div class="md:max-w-md lg:col-span-3 text-gray-300">
        <a href="/" aria-label="Go home" title="Company" class="inline-flex items-center text-gray-200">
          <span class="text-xl font-bold tracking-wide uppercase">Dogecoin et JO</span>
        </a>
        <div class="mt-4 lg:max-w-sm">
          <p class="text-sm text-deep-purple-50">
            le Stade de France vient de se doter d’un nouveau sponsor inattendu : Dogecoin (DOGE).
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
